{% extends "views/index.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
{% if message.tags == "success" %}
<div class="card mb-4 py-3 border-left-success message">
    <div class="card-body ">
        {{ message }}<a class="del-msg">&times;</a>
    </div>
</div>
{% else %}
<div class="card mb-4 py-3 border-left-danger message">
    <div class="card-body ">
        <span> {{ message }}</span><a class="del-msg">&times;</a>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}


<div class="card mb-4">
    <div class="card-header">

        <i class="fas fa-table mr-1"></i>
        <span class="m-0 font-weight-bold text-primary">Nosotros</span>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Estudios</th>
                        <th>ID</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Estudios</th>
                        <th>ID</th>
                        <th>Opciones</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user in nosotros%}
                    <tr>
                        <td>{{user.nombre_completo}}</td>
                        <td>{{user.estudios}}</td>
                        <td>{{user.id}}</td>
                        <td>
                            <button class="btn btn-danger btn-circle btn-sm " type="button" data-id="{{user.id}}"
                            href="" data-toggle="modal" data-target="#ConfirmModal">
                            <i class="fas fa-trash"></i>
                        </button>


                        </td>

                    </tr>
                    {% endfor %}



            </table>
        </div>
    </div>
</div>


<!-- Logout Modal-->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro de querer eliminar?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'eliminar_nosotros_p' %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    Elige la opcion que deseas realizar.
                        {% csrf_token %}
                        <input type="hidden" id="nosotros" name="nosotros">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" >Si, eliminalo</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    console.log("xxx")

    document.addEventListener("DOMContentLoaded", function (event) {
        $('#ConfirmModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id_user = button.data('id')

            var modal = $(this)

            modal.find('.modal-body #nosotros').val(id_user);
        });
    });

</script>
{% endblock  %}