{% extends "views/index.html" %}
{% block content %}
<!-- Page Heading -->
<!-- Card Para el manejo de registros exitosos o registros fallado -->
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="card mb-4 py-3 border-left-success message">
              <div class="card-body ">
                <h5>{{message}}</h5>
      </div>
    </div>
    {% else %}
      <div class="card mb-4 py-3 border-left-danger message">
          <div class="card-body ">
                <h5>{{message}}</h5>
          </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button"
      aria-expanded="true" aria-controls="collapseCardExample2">
      <h6 class="m-0 font-weight-bold text-primary">Selecciona el tip a modificar</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample2" >
      <div class="card-body">
        <div class="container-fluid">
          
        
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    <strong>Tips</strong>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tema</th>
                                    <th>Estado</th>
                                    <th>Usuario</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Tema</th>
                                    <th>Estado</th>
                                    <th>Usuario</th>
                                    <th>Opciones</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for tip in tips%}
                                <tr>
                                    <td>{{tip.fecha}}</td>
                                    <td>{{tip.titulo}}</td>
                                    {% if tip.estado == 1%}
                                    <td>Aprobado</td>
                                    {% else %}
                                    <td>Pendiente</td>
                                    {% endif %}
                                    <td>{{tip.usuario}}</td>
                                    <td>
                                      {% if UserPermissions.TIPS.EDITAR %}
                                      <a href="{% url 'modificar_tips_pk' tip.id %}" class="btn btn-success btn-circle btn-sm"> <i class="fas fa-pen"></i></a> 
                                      {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                               
                                
                                
                        </table>
                    </div>
                </div>
            </div>
        </div>

       

      </div>
    </div>
  </div>


<div class="card">
    <!-- <div class="card-header"><strong>Basic Form</strong> Elements
        <h6 class="m-0 font-weight-bold text-primary"></h6>
      </div> -->
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Modificar Tips</h6>
    </div>
    <div class="card-body">
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="text-input">Titulo </label>
          <div class="col-md-9">
            <input class="form-control" id="text-input" type="text" name="titulo" value="{{tip.titulo}}">
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="datepicker">Fecha</label>
          <div class="col-md-9">
            <input class="form-control" id="datepicker" type="date" name="fecha" value="{{tip.fecha}}"><span
              class="help-block">{{tip.fecha}}</span>
          </div>
        </div>
  
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="textarea-input">Descripción</label>
          <div class="col-md-9">
            <!--Cambio Aqui-->
            <textarea id="editor" name="descripcion"  autofocus>{{tip.descripcion}}</textarea>
            <!--<textarea class="form-control" id="textarea-input" name="descripcion" rows="16"
              placeholder="Describa el tema ..">{{tema.descripcion}}</textarea>-->
          </div>
        </div>
        {% if UserPermissions.TIPS.APROBAR %}
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="estado">Estado del tip</label>
          <div class="col-md-9">
            <select class="form-control" id="select1" name="estado" required>
              <option  disabled selected >Seleccione el estado del tema</option>
              <option value="1">Aprobado</option>
              <option  value="0">Pendiente</option>
  
            </select>
          </div>
        </div>
        {% endif %}
  
      
        <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
            aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Subir Imagenes, Audio o Contenido Multimedia</h6>
          </a>
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="collapseCardExample" >

            <div class="card-body">
              <strong>Subir Imagenes</strong> 
  
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="imagen1"><strong> Seleccione la imagen 1</strong></label>
                <div class="col-md-9">
                  <input id="file-input" type="file" name="imagen1" accept="image/*" >
                </div>
              </div> 
                            
              
            </div>
          </div>
        </div>
          <div>
            <div class="card-footer">
              <button class="btn btn-success btn-icon-split" type="submit" id="modTem">
                <span class="icon text-white-50">
                  <i class="fas fa-check"></i>
                </span>
                <span class="text">Modificar</span>
              </button>
              <button class="btn  btn-danger btn-icon-split" type="reset">
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Desechar </span>
              </button>
  
            </div>
          </div>
      </form>
    </div>
    
  </div>

{% endblock  %}
